{% extends 'howtolinuxApp/base.html' %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid bg-theme-0-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center text-theme-0-0">
                    <h1 class="display-2">HowtolinuX</h1>
                    <p class="lead display-4">Este WebSite foi inteiramente construído utilizando os Frameworks Django e Bootstrap</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <hr>
    <div class="row">
        <div class="col-sm-12 text-center text-theme-0-1">
            <div class="display-4 pb-3">
                <i class="far fa-user"></i> Sobre mim <i class="far fa-user"></i>
            </div>
        <p class="p-0">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus 
            laudantium maxime fugiat optio labore culpa ipsa cum nisi corrupti in non enim, 
            ipsum accusamus ad architecto unde explicabo voluptas. Sapiente.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut soluta possimus distinctio 
            esse sequi amet eaque saepe deleniti impedit placeat reiciendis consectetur quo ab quas, 
            perferendis id! Veniam, mollitia praesentium.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus 
            laudantium maxime fugiat optio labore culpa ipsa cum nisi corrupti in non enim, 
            ipsum accusamus ad architecto unde explicabo voluptas. Sapiente.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut soluta possimus distinctio 
            esse sequi amet eaque saepe deleniti impedit placeat reiciendis consectetur quo ab quas, 
            perferendis id! Veniam, mollitia praesentium.
        </p>
        </div>
    </div>
    <hr>
{% endblock %}